.caja {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition-property: height, width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
  }
  
  .caja:hover {
    height: 300px;
    width: 300px;
  }
  