table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: darkgray;
}

img {
  height: 100px;
  margin: 10px;
}

a {
  padding: 5px 10px;
}

a:hover {
  background-color: yellow;
}

a:link,
a:visited {
  color: #0000FF;
}