#container {
  display: grid;
  grid-template-columns: repeat(3);
  justify-content: space-between;
  align-items: start;
}

.div1 {
  padding: 50px;
  background-color: pink;
  grid-column-start: 3;
}

.div2 {
  padding: 50px;
  background-color: aqua;
  grid-column-start: 1;
  grid-column-end: 1;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
 }